body
{
	margin: 0 auto 0 auto;
	text-align: center;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	color: white;
	overflow-y: hidden;
}

a
{
	color: white;
}

.button
{
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 240px;
	height: 48px;
	border-radius: 12px;
	border: 2px;
	border-color: white;
	border-style: solid;
	margin-left: 24px;
	margin-right: 24px;
	transition: all 0.3s;
}

.button:hover
{
	color: #3E579F;
	background-color: white;
}

.head
{
	font-size: 42pt;
	font-weight: lighter;
}

.sub
{
	font-size: 16pt;
	font-weight: lighter;
}

.info
{
	font-size: 12pt;
}

.center
{
	position: relative;
	top: 12px;
}

.image
{
	position: absolute;
	top: 320px;
	margin-left: -229px;
}

.space60
{
	height: 60px;
}

.space120
{
	height: 120px;
}

.top
{
	background: #3E579F;
}

.bottom
{
	background: #29386C;
}

.footer
{
	color: black;
}
